<% provide(:title, "New Event") %>

<div class="card mb-3 shadow-lg rounded border main-display" style="background-color: #f1e5f1">
  <div class="card-body text-dark">
    <h2>New Event</h2>
    <%= render 'form', event: @event %>
    <%= link_to 'Back', events_path %>
  </div>
</div>

