<% provide(:title, t("event.new")) %>

<div class="card mb-3 shadow-lg rounded border main-display mgf-body">
  <div class="card-body text-dark">
    <h2><%= t("event.new") %></h2>
    <%= render 'form', event: @event %>
    <%= link_to t("back_button"), events_path %>
  </div>
</div>

