<div class="card mb-3 shadow-lg rounded border mgf-body main-display<%= ' background-image' if show_background %>">
  <div class="card-body text-dark">
      <% unless page.body.blank? %>
        <%= page.body.html_safe %>
      <% end %>
  </div>
</div>
<%= link_to t(:edit_button), edit_page_path(page), 
            class: "btn btn-sm btn-outline-light" if admin_user? %>