<% provide(:title, t("gallery.new")) %>

<div class="card mb-3 shadow-lg rounded border main-display mgf-body">
  <div class="card-body text-dark">
    <h2><%= t("gallery.new") %></h2>
    <%= render 'form', gallery: @gallery %>
    <%= link_to t("back_button"), galleries_path %>
  </div>
</div>

