<% provide(:title, t("gallery.title.show")) %>
<div class="card mb-3 shadow-lg rounded border main-display mgf-body">
  <div class="card-body text-dark">
    <h3><%= @gallery.title %></h3>

    <div class="flexslider mgf-body">
      <ul class="slides">
        <% @gallery.photos.each do |photo| %>
        <li>
          <img src="<%= photo.picture_url %>" />
          <p class="flex-caption"><%= photo.caption %></p>
        </li>
        <% end %>
      </ul>

    </div>

  </div>
</div>

