@import "bootstrap-icons/font/bootstrap-icons";
@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

@import 'bootstrap/dist/css/bootstrap';


body{
  // font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #5B2D59;
  // background-color: #f1e5f1;
}

.text-light-footer{
  color:  #f1e5f1;
  text-decoration: none;
  &:hover, &:focus {
    color: #5B2D59; 
  }
}
.header-light-footer{
  color: #240d23;
}

.text-dark-footer{
  color: black;
  text-decoration: none;
  &:hover, &:focus {
    color: #5B2D59;
  } 
}

.main-display{
  min-width: 330px;
  // font-family: "Tahoma, sans-serif";
}

.mgf-navbar{
  background-color: #f5daf5;
}

.mgf-footer{
  background-color: #f5daf5;
  font-size:9pt
}

.mgf-body{
  background-color: #f1e5f1;
}

#btn-back-to-top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: none;
  z-index: 99; 
}

#library_background{
  background-image: asset_url('mgf_library.jpg');
  // background-image: asset_url('mgf_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.background-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), asset_url('mgf_background.jpg');
  // background-image: asset_url('mgf_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brand {
  display: inline-block;
  align-items: center;
  background-image: asset_url('mgf_logo_sm.jpg');
  background-repeat: no-repeat;
  background-position: left;
  height: 64px;
}

.brand-text{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-left: 65px;
  display: block;
  line-height: 90%;
}

.nav-link{
  color: #5b2d59 !important;
  &:hover, &:focus {
    color: #220020 !important;
  } 
}

.gallery-listing-col{
  min-width: 285px;
}

#my-caption{
  display: none !important;
}

.accordion-button:not(.collapsed) {
  background: #5B2D59;
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(209, 157, 252, 0.883);
}

.accordion-button:focus {
  border-color: #d286fe;
  box-shadow: 0 0 0 0.25rem rgba(209, 157, 252, 0.883);  
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' stroke='white' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.library-heading {
  font-size: 1.15em;
  color: black;
  text-decoration: none;
  &:hover, &:focus {
    color: #d286fe;
  }
}